<!DOCTYPE html>
<html lang="en">
  <%- include('_head') %>
  <body>
    <%- include('_navbar') %>
    <section class="section">
      <div class="container">
        <%- body %>
      </div>
    </section>
  </body>
</html>