<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <div class="title is-4">MOVDB</div>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="/">
        Home
        </a>

        <a class="navbar-item" href="/movies">
        Movies
        </a>
    </div>

    <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="Find a movie" />
          </p>
          <p class="control">
            <button class="button is-fullwidth">
                <span class="icon is-small">
                  <i class="fas fa-search"></i>
                </span>
              </button>
          </p>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
        <% if (locals.user) { %>
            <div class="buttons">
            <%= user.name %>
                <div class="buttons">
                    <a class="button is-dark" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
            <% } else { %>
                <div class="buttons">
                    <a class="button is-dark" href="/signup">
                    <strong>Sign up</strong>
                    <a class="button is-link" href="/login">
                        Log in
                    </a>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    </div>
</nav>